<!DOCTYPE html>
<html lang="en">
<head>
{% include 'components/_style.html' %}

    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<div class="container">
   {% include 'layout/navbar.html'%}

    <div class="mt-5 mb-5 d-flex justify-content-between">

        <div class="col-3">
           {% block course %}
            {% endblock course %}
        </div>

        <div class="col-8">
            {% block student %}
            {% endblock student %}
        </div>

    </div>


  {% include 'layout/footer.html'%}

</div>
{% include 'components/_script.html'%}
</body>
</html>