<!DOCTYPE html>
<html lang="en">
<head>
{% include 'components/_style.html' %}

    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<div class="container">
   {% include 'layout/navbar.html'%}

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

   {% block main%}

    <div class="mt-5 mb-5 d-flex justify-content-between">

        <div class="col-3">
           {% block course %}
            {% endblock course %}
        </div>

        <div class="col-8">
            {% block student %}
            {% endblock student %}
        </div>

    </div>

    {% endblock main%}

  {% include 'layout/footer.html'%}

</div>
{% include 'components/_script.html'%}
</body>
</html>